@use '../../../sass-mixins/app-style-defaults';

.clockFeatureLinks {
  @include app-style-defaults.list;

  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 1em;
}

.clockFeatureLink {
  opacity: .3;
}

[aria-current='page'].clockFeatureLink {
  opacity: 1;
}

.clockFeatureLinkDark .clockFeatureLinkIcon {
  filter: invert(1);
}