@mixin button {
  font: inherit;
  color: inherit;

  cursor: pointer;

  padding: 0;
  background: none;
  border: none;
}

@mixin list {
  list-style: none;

  padding: 0;
  margin: 0;
}

@mixin link {
  text-decoration: none;
  color: inherit;

  &:focus,
  &:hover {
    color: blue;
  }
}