@mixin roundedCorners {
  border-radius: .25em;
}

@mixin pillShape {
  border-radius: 50px;
}

@mixin themeTransition($otherTransitions...) {
  transition: color 250ms, background 250ms, $otherTransitions;
}