@use '../../App.module';

.clockDisplay {
  font-size: 4rem;
  text-align: center;

  justify-self: center;
  align-self: center;

  margin: 0;
}

@media (min-width: App.$layoutBreakpoint) {
  .clockDisplay {
    font-size: 6rem;
  }
}