@use '../../App.module';

// Un-styling
.clockDisplay {
  background: none;
  padding: 0;

  border: none;
}

.clockDisplay {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  color: inherit;

  outline: none;

  // Fix annoying Firefox issue
  max-width: 270px;
  margin: auto;
}

@media (min-width: App.$layoutBreakpoint) {
  .clockDisplay {
    font-size: 6rem;

    // Fix annoying Firefox issue
    max-width: 520px;
  }
}