@use '../../../App.module';

.timerBarLayout {
  display: none;
}

@media (min-width: App.$layoutBreakpoint) {
  .timerBarLayout {
    display: revert;

    opacity: 0;

    $size: 30em;
    width: $size;
    height: $size;

    margin: auto;

    transition: opacity 1500ms;
  }
}

.showTimerBar {
  opacity: 1;
}

.timerBar {
  transition: stroke-dashoffset 250ms;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}