@use '../../../App.module';

.stopWatch {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 2em;
}

@media (min-width: App.$layoutBreakpoint) {
  .stopWatch {
    grid-template-columns: auto;
  }
}