@use '../../App.module';

.timer {
  display: grid;
  grid-template: auto 1fr / 1fr;
  grid-row-gap: 2em;
  justify-content: center;
  align-items: center;
}

.timer > * {
  grid-column: 1;
}

.timerButtons {
  grid-row: 2;
}

.timerInactive {
  .timerButtons {
    //transform: translateY(-12em);

    transition: transform 2750ms;
  }
}

.timerActive {
  .timerButtons {
    transform: translateY(0em);

    transition: transform 250ms;
  }
}

@media (min-width: App.$layoutBreakpoint) {
  // Timer bar shows after layout breakpoint,
  // when there's enough space on the screen
  // for it
  .timerActive {
    // Pulls the clock display back up to
    // the center of the screen
    transform: translateY(-11.6em);
  }
}