.slidingRouteMenuItem {
  position: relative;
  z-index: 0;

  background: #fff;

  transition: transform 250ms, background 250ms;
}

.activeSlidingRouteMenuItemDark {
  background: #333;
}

.activeSlidingRouteMenuItem {
  z-index: 1;
}