@use '../../../sass-mixins/reusableStyles';

.slidingRouteMenuItem {
  @include reusableStyles.themeTransition(transform 250ms);

  position: relative;
  z-index: 0;

  background: #fff;
}

.activeSlidingRouteMenuItemDark {
  background: #333;
}

.activeSlidingRouteMenuItem {
  z-index: 1;
}