@use '../../sass-mixins/app-style-defaults';
@use '../../App.module';

.laps {
  @include app-style-defaults.list;

  font-size: 1.5rem;

  display: grid;
  grid-row-gap: 1em;
  justify-content: center;

  width: 100%;

  margin-top: 1em;

  counter-reset: lap;
}

@media (min-width: App.$layoutBreakpoint) {
  .laps {
    font-size: 2.5rem;
  }
}