@use '../../sass-mixins/app-style-defaults';
@use '../../App.module';

.themeSwitch {
  @include app-style-defaults.button;

  justify-self: end;

  width: 5em;
  height: 2.5em;

  padding: .25em;
  border-radius: 50em;
}

@media (min-width: App.$layoutBreakpoint) {
  .themeSwitch {
    width: 6em;
    height: 3em;
  }
}

.themeSwitchLight {
  background: #333;
}

.themeSwitchDark {
  background: #fff;
}

.themeSwitchKnob {
  display: inline-block;

  aspect-ratio: 1 / 1;

  height: 100%;

  border-radius: 100%;

  transform: rotateX(0);
  transition: margin-right 250ms, transform 250ms;
}

.themeSwitch:active .themeSwitchKnob {
  transform: rotateX(25deg);
}

.themeSwitchKnobLeft {
  margin-right: 100%;

  background: #fff;
}

.themeSwitchKnobRight {
  margin-right: -55%;

  background: #333;
}