@use '../../../App.module';

.timer {
  display: grid;
  grid-template: auto 1fr / 1fr;
  grid-row-gap: 2em;
  justify-content: center;
  align-items: center;
}

.timer > * {
  grid-column: 1;
}

.timerButtons {
  grid-row: 2;
}

@media (min-width: App.$layoutBreakpoint) {
  .timer {
    // Pulls the clock display back up to
    // the center of the screen.
    transform: translateY(-11.6em);
  }

  .timerInactive {
    .timerButtons {
      transform: translateY(-12em);

      transition: transform 2750ms;
    }
  }

  .timerActive {
    .timerButtons {
      transform: translateY(0em);

      transition: transform 250ms;
    }
  }
}