@use '../../../App.module';

.timer {
  display: grid;
  grid-row-gap: 2em;
}

.timer > * {
  grid-column: 1;
}

.timerDisplay {
  grid-row: 1;
  align-self: center;

  z-index: 1;
}

.timerButtons {
  grid-row: 2;

  padding: 1em;
}

@media (min-width: App.$layoutBreakpoint) {
  .timer {
    // Pulls the clock display back up to
    // the center of the screen.
    transform: translateY(-11em);
  }

  .timerInactive {
    .timerButtons {
      transform: translateY(-12em);

      transition: transform 2750ms;
    }
  }

  .timerActive {
    .timerButtons {
      transform: translateY(0em);

      transition: transform 250ms;
    }
  }
}