@use '../../App.module';

.alarmSetterLayout {
  display: flex;
  justify-content: space-between;
}

.alarmSetter {
  font-size: 1rem;

  margin: 0;
}

@media (min-width: App.$layoutBreakpoint) {
  .alarmSetterLayout,
  .alarmSetter {
    font-size: 1.5rem;
  }
}