@use 'sass:math';

@use '../../App.module';
@use '../../sass-mixins/app-style-defaults';

.toggleSwitch {
  @include app-style-defaults.button;

  justify-self: end;

  display: grid;
  grid-template: 100% / 100%;

  aspect-ratio: 2 / 1;

  border-radius: 50px;
}

// Scales smaller toggle switches up
// for larger screens
@media (min-width: App.$layoutBreakpoint) {
  .toggleSwitchSmall {
    // Scale up by 2 for larger screens
    // Move back into container
    transform: scale(2) translate(-25%, 25%);
  }
}

.toggleSwitchKnob {
  display: inline-block;

  aspect-ratio: 1 / 1;

  height: 100%;

  border-radius: 100%;

  transform: rotateX(0);
  transition: transform 250ms, margin-left 250ms;
}

.toggleSwitch:active .toggleSwitchKnob {
  transform: rotateX(25deg);
}

.toggleSwitch:active .toggleSwitchKnob {
  aspect-ratio: 1.5 / 1;
}

.toggleSwitchLight {
  background: #333;

  .toggleSwitchKnob {
    background: #fff;
  }
}

.toggleSwitchDark {
  background: #fff;

  .toggleSwitchKnob {
    background: #333;
  }
}