@use '../../sass-mixins/app-style-defaults';
@use '../../App.module';

.toggleSwitch {
  @include app-style-defaults.button;

  justify-self: end;

  aspect-ratio: 2 / 1;

  width: 3em;

  padding: .25em;
  border-radius: 50em;
}

@media (min-width: App.$layoutBreakpoint) {
  .toggleSwitch {
    width: 6em;
  }
}

.toggleSwitchLight {
  background: #333;
}

.toggleSwitchDark {
  background: #fff;
}

.toggleSwitchKnob {
  display: inline-block;

  aspect-ratio: 1 / 1;

  height: 100%;

  border-radius: 100%;

  transform: rotateX(0);
  transition: transform 250ms, margin-right 250ms;
}

.toggleSwitch:active .toggleSwitchKnob {
  transform: rotateX(25deg);
}

.toggleSwitchKnobLeft {
  margin-right: 100%;

  background: #fff;
}

.toggleSwitchKnobRight {
  margin-right: -55%;

  background: #333;
}