@use '../../../App.module';

.timeClockDisplay {
  margin-bottom: .125em;
}

.timeFormatLayout {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: .5em;
  align-items: end;

  border-bottom: solid 1px;
  padding-bottom: .5em;

  margin-bottom: .75em;
}

.timeFormat {
  font-weight: 700;
}

@media (min-width: App.$layoutBreakpoint) {
  .timeFormatLayout {
    border-bottom: solid 1px;
    padding-bottom: 1em;

    margin-bottom: 2.75em;
  }

  .timeFormat {
    font-size: 2rem;
  }
}