@use '../../../App.module';

// Maintains consistent width on children.
// Has to be done because Firefox....
.timeClock > *:not(.timeClockDisplay) {
  max-width: 11.5625em;

  margin-left: auto;
  margin-right: auto;
}

.timeFormatLayout {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: .5em;
  align-items: center;

  margin-top: 1em;
}

.timeFormat {
  font-weight: 700;
}

@media (min-width: App.$layoutBreakpoint) {
  .timeFormatLayout {
    max-width: 23.5em;

    padding-left: .5em;

    margin-top: 2em;
  }

  .timeFormat {
    font-size: 2rem;
  }
}