.app {
  display: grid;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

.lightTheme {
  color: #333;

  background: #fff;
}

.darkTheme {
  color: #fff;

  background: #333;
}