$layoutBreakpoint: 31.25em;

.app {
  display: grid;
  grid-template-rows: max-content max-content;
  grid-template-columns: minmax(1em, 1fr) auto minmax(1em, 1fr);

  min-height: 100vh;

  transition: color 250ms, background-color 250ms;
}

.app > * {
  grid-column: 2 / -2;
}

.lightTheme {
  color: #333;

  background: #fff;
}

.darkTheme {
  color: #fff;

  background: #333;
}